<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS & Bulma -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>Peter's Blog</title>

    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }
        .nav {
            float: right;
        }
    </style>

    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString)
        const postingId = urlParams.get("postingId")

        $(document).ready(function () {
            search_detail();
            search_comment();

            if (localStorage.getItem("token")) {
                $('#btn-navbar').hide()
                $('#btn-navbar1').show()
            } else {
                $('#btn-navbar').show()
                $('#btn-navbar1').hide()
            }
        });
        // 게시글 불러오기 
        function search_detail() {
            $.ajax({
                type: "GET",
                url: `/api/posting/${postingId}`,
                headers: {
                        authorization: `Bearer ${localStorage.getItem("token")}`
                    },
                data: {},
                success: function (response) {
                    console.log(response)
                    let postingDetail = response["detail"]
                    let temp_html = `<div class="field">
                                            <label class="label">이름</label>
                                            <div class="control">
                                                <input id="name" class="input" type="text" value="${postingDetail["name"]}">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">제목</label>
                                            <div class="control">
                                                <input id="title" class="input" type="text" value="${postingDetail["title"]}">
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label">내용</label>
                                            <div class="control">
                                                <textarea id="content" class="textarea">${postingDetail["content"]}</textarea>
                                            </div>
                                        </div>
                                        <div class="field is-grouped">
                                            <div class="control">
                                                <button class="btn btn-primary" onclick="location.href='/edit?postingId=${postingDetail["postingId"]}'">수정</button>
                                                <button class="btn btn-primary" onclick="window.location.href = '/'">메인화면 돌아가기</button>
                                            </div>
                                        </div>`
                                    $('.container1').append(temp_html)
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage)
                },
            })
        }
        // 댓글 달기 
        function post_comment() {
            let description = $('#comment').val();

            if (description === '') { 
                alert("댓글 내용을 입력해 주세요.")
                window.location.reload()
                return;
            }
            $.ajax({
                type: "POST",
                url: "/api/comment",
                data: {
                    postingId,
                    description: description,
                },
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert("댓글이 작성되었습니다.")
                    }
                    window.location.reload()
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                    window.location.href = "/login";
                }
            })  
        }
        // 댓글 불러오기 
        function search_comment(){
            $.ajax({
                type: "GET",
                url: `/api/comment/${postingId}`,
                data: {},
                success: function (response) {
                    let comment = response["comment"]
                    for ( let i = 0; i < comment.length; i++ ) {
                        let userId = comment[i]['userId']
                        let description = comment[i]['description']
                        let date = comment[i]['date']
                        let commentId=comment[i]['commentId']
                        let temp_html=`
                            <div class="d-flex flex-row comment-row m-t-0">
                                    <h6 class="font-medium">${userId}</h6> 
                                    <br>
                                    <span id="desc${commentId}" class="m-b-15 d-block">${description}</span>
                                    <br>
                                    <div class="comment-footer"> <span class="text-muted float-right">${date}</span></div>
                                    <button onclick="modifyComment(${commentId})" id="btn-modify${commentId}" type="button" class="btn btn-cyan btn-sm">수정버튼</button>
                                    <button onclick="deleteComment(${commentId})" id="btn-delete" type="button" class="btn btn-danger btn-sm">삭제버튼</button> </div>
                            </div>`
                        $('#commentList').append(temp_html)
                    }
                }
            })
        }
        // 댓글 삭제
        function deleteComment(commentId) {
            if(confirm("삭제하시겠습니까?") == true) { 
                $.ajax({
                type: "DELETE",
                url: `/api/comment`,
                data: { commentId },
                headers: {
                    authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                success: function(response) {
                    if (response["result"] == "success") {
                        alert('삭제완료!')
                    } else {
                        alert("로그인이 필요한 기능입니다.")
                    }
                    window.location.reload()
                },
                error: function (error) {
                    alert(error.responseJSON.errorMessage);
                    window.location.href = "/login";
                }
                })   
            }
        }
        // 댓글 수정
        function modifyComment(commentId) {
            if ($('#btn-modify'+commentId).text() === '수정완료') {
                $.ajax({
                    type: "PUT",
                    url: `/api/comment`,
                    data: { 
                        commentId, 
                        description: $('#newDesc').val(),
                    },
                    headers: {
                        authorization: `Bearer ${localStorage.getItem("token")}`,
                    },
                    success: function (response) {
                        console.log(response)
                        if (response["result"] == "success") {
                            alert("수정 완료!")
                        } else {
                            alert(response["result"]) 
                        }
                        window.location.reload()
                    },
                    error: function (error) {
                    alert(error.responseJSON.errorMessage);
                    window.location.href = "/login";
                }
                    
                })
            }
            
            let baseComment = $('#desc'+commentId).text() 
            $('#desc'+commentId).empty()
            $("#desc"+commentId).append(`<textarea id="newDesc">${baseComment}</textarea>`);
            $('#btn-modify'+commentId).empty()
            $('#btn-modify'+commentId).append(`수정완료`)
            
            
        }
        // 로그아웃 (로컬스토리지 비워주기)
        function logout() {
        localStorage.clear();
        window.location.href = '/';
        }
    </script>

</head>

<body>
    <div class="jumbotron">
        <button class="button is-success is-inverted nav" id="btn-navbar" onclick="window.location.href = '/login'">로그인</button>
        <button class="button is-success is-inverted nav" id="btn-navbar1" onclick="logout()">로그아웃</button>
        <h1 class="display-4" onclick="window.location.href='/'">My Hanghae Blog</h1>
        <p class="lead">99일간의 항행의 기록...</p>
        <hr class="my-4">
    </div>
    <section class="section">
        <div class="container1">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">댓글입력</label>
            <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>

        <button class="btn btn-primary" onclick="post_comment()">댓글저장</button>

        <div class="row d-flex justify-content-center mt-100 mb-100">
            <div class="">
                <div class="card">
                    <div class="card-body text-center">
                        <h4 class="card-title">Comments</h4>
                    </div>
                    <div class="comment-widgets" id="commentList">
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</body>

</html>